html   {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10em;
}

.presentations {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10em;
}

hr {
    width: 3rem;
    color: rgb(95, 95, 95);
    border: 1px solid;
    margin-bottom: 10rem;
    opacity: 50%;
}


/* Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

nav {
    margin: 4rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3.9em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(132, 132, 132);
    bottom: -6px;
    transition: width .3s;
}


/* Hero Section */

main {
    display: flex;
    gap: 8em;
    margin-top: 5em;
}

.left-col {
    width: 50%;
}

.right-col {
    flex-grow: 1;
}

h1 {
    font-size: 7rem;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 7rem;
    line-height: 6rem;
    width: 100%;
}

.subhead {
    font-size: 1.5rem;
    width: 90%;
    margin: 0;
    line-height: 2.5rem;
}

.cta-btn {
    margin-top: 9em;
}

a.primary-cta  {
    text-decoration: none;
}

.primary-cta {
    background-color: black;
    padding: 0.5em 1em;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
    transition: color 500ms;
}

.right-col {
    flex-grow: 1;
}

.projects-image {
    width: 50rem;
    height: 50rem;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.0);
    margin: 0;
}

.projects-image:hover {
  transform: scale(1.15);
}

/* Projects */

.projects {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10em;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

.grid-container {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    row-gap: 4rem;
    column-gap: 2rem;
  }
  
  
  
  .card1 {
    width: 350px;
    height: 350px;
    background-image: url(../img/lenk.JPG);
    background-size: cover;
    border-radius: .6rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
  }

  .card2 {
    width: 350px;
    height: 350px;
    background-image: url(../img/cop.JPG);
    background-size: cover;
    border-radius: .6rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
  }

  .card3 {
    width: 350px;
    height: 350px;
    background-image: url(../img/lizzy.jpg);
    background-size: cover;
    border-radius: .6rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
  }

  .card4 {
    width: 350px;
    height: 350px;
    background-image: url(../img/vals.jpg);
    background-size: cover;
    border-radius: .6rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
  }

  .card5 {
    width: 350px;
    height: 350px;
    background-image: url(../img/wocom.JPG);
    background-size: cover;
    border-radius: .6rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
  }

  .card6 {
    width: 350px;
    height: 350px;
    background-image: url(../img/lydia.jpg);
    background-size: cover;
    border-radius: .6rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
  }

  .presentations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ifr;
    grid-gap: 10px;
  }

  .grid-items {
    display: flex;
    gap: 15px;
  }
  
  .container1 {
    border-radius: .8rem;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: 100%;
    height: 50em;
    width: 31em;
    background-image: url('../img/cservice.JPG');
    background-size: 100%;
    transition: background-size 800ms;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
    width: 550px;
    height: 350px;
    background-color: black;
    border-radius: .6rem;
}
 
.container2 {
  border-radius: .8rem;
  padding: 1.1em;
  display: flex;
  align-items: end;
  background-size: 100%;
  height: 50em;
  width: 31em;
  background-image: url('../img/caservice.JPG');
  background-size: 100%;
  transition: background-size 800ms;
  box-shadow: 3px 3px 5px rgb(95, 95, 95);
  width: 550px;
  height: 350px;
  background-color: black;
  border-radius: .6rem;
}

.card-details {
  background: white;
  border-radius: 0.1rem;
  padding: 0.15em 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 800ms;
}

.card-details a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}

.card-details p {
  font-size: 1.6rem;
  margin: 0;
}

.presentations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ifr;
    grid-gap: 10px;
  }

  .grid-items {
    display: flex;
    gap: 15px;
  }
  
  .container1 {
    border-radius: .8rem;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: 100%;
    height: 50em;
    width: 31em;
    background-image: url('../img/cservice.JPG');
    background-size: 100%;
    transition: background-size 800ms;
    box-shadow: 3px 3px 5px rgb(95, 95, 95);
    width: 550px;
    height: 350px;
    background-color: black;
    border-radius: .6rem;
}
 
.container2 {
  border-radius: .8rem;
  padding: 1.1em;
  display: flex;
  align-items: end;
  background-size: 100%;
  height: 50em;
  width: 31em;
  background-image: url('../img/caservice.JPG');
  background-size: 100%;
  transition: background-size 800ms;
  box-shadow: 3px 3px 5px rgb(95, 95, 95);
  width: 550px;
  height: 350px;
  background-color: black;
  border-radius: .6rem;
}

.ui-ux {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10em;
}

.container3 {
  border-radius: .8rem;
  padding: 1.1em;
  display: flex;
  align-items: end;
  background-size: 100%;
  height: 50em;
  width: 31em;
  background-image: url('../img/ab.png');
  background-size: 100%;
  transition: background-size 800ms;
  box-shadow: 3px 3px 5px rgb(95, 95, 95);
  width: 550px;
  height: 350px;
  background-color: black;
  border-radius: .6rem;
}

.container4 {
  border-radius: .8rem;
  padding: 1.1em;
  display: flex;
  align-items: end;
  background-size: 100%;
  height: 50em;
  width: 31em;
  background-image: url('../img/portfolio.png');
  background-size: 100%;
  transition: background-size 800ms;
  box-shadow: 3px 3px 5px rgb(95, 95, 95);
  width: 550px;
  height: 350px;
  background-color: black;
  border-radius: .6rem;
}

.fun {
  font-size: x-large;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Micro Interactions */

nav ul li a:hover::before {
    width: 35%;
    opacity: 50%;
}

.primary-cta:hover {
    background: white;
    color: black;
    transition: color 500ms;
    box-shadow: 5px 5px 5px rgb(95, 95, 95);
}

main {
    animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}

.card1:hover {
    transform: scale(1.1);
  }

  .card2:hover {
    transform: scale(1.1);
  }

  .card3:hover {
    transform: scale(1.1);
  }

  .card4:hover {
    transform: scale(1.1);
  }

  .card5:hover {
    transform: scale(1.1);
  }

  .card6:hover {
    transform: scale(1.1);
  }

  .card-details a:hover {
    text-decoration: underline;
  }
  
  .container1:hover .card-details {
    transform: translateY(-20px);
  }
  
  .container2:hover .card-details {
    transform: translateY(-20px);
  }

  .container3:hover .card-details {
    transform: translateY(-20px);
  }

  .container4:hover .card-details {
    transform: translateY(-20px);
  }
  
  .container1:hover {
    background-size: 105%;
    transition: background-size 800ms;
  }
  
  .container2:hover {
    background-size: 105%;
    transition: background-size 800ms;
  }

  .container3:hover {
    background-size: 105%;
    transition: background-size 800ms;
  }

  .container4:hover {
    background-size: 105%;
    transition: background-size 800ms;
  }


@keyframes growIn {
    to {
        transform: scale(1);
    }
}

.hover:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: black;
  height: 30em;
}

.wrapper5 {
  background-color: black;
  margin: 0 auto;
  margin-bottom: 10em;
  padding: 0;
  padding-bottom: 0.3em;
  justify-content: space-between;
}
.top-side {
  max-width: 1350px;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 5em;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: end;
}

.logop {
  color: white;
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.logopq {
  color: white;
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 1.5em;
}

.logopp {
  color: white;
  font-size: 1.7rem;
  line-height: 1em;
  margin-bottom: 1.5em;
}

.email {
  display: flex;
  gap: 2em;
  margin: 0;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.copyright {
  max-width: 1350px;
  margin: 0 auto;
  margin-bottom: 2em;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

svg {
  width: 50px;
  height: 50px;
  padding: .1em;
  display: flex;
  align-items: center;
}